.form{
    margin-top: -20px;
    ion-item{
        border-radius: 5px;
        border-color: rgb( 201, 201, 201);
        border-width: 1px;
        border-style: solid;
        margin-bottom: 10px;
    }
}


ion-content{
    p{
        font-family: cursive;
    }
}

ion-input{
    font-family: cursive;
}

ion-button{
    font-family: cursive;
  }
 

