<ion-header>
  <ion-toolbar>
    <ion-title>Fillings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-padding">
      <img src="assets/Photo8.jpg">
    </div>

    <ion-card-content class="ion-text-center" class="ion-text-justify">
      Filling saves a tooth with a cavity. Filling can also enhance your smile by changing the color of your teeth or reshaping your teeth.
      We solely use tooth-colored filling materials in our clinic.
    </ion-card-content>
  </ion-card>
</ion-content>
