<ion-header>
  <ion-toolbar>
    <ion-title>Teeth Whitening</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-padding">
      <img src="assets/Photo2.jpg">
    </div>

    <ion-card-content class="ion-text-center" class="ion-text-justify">
      Do you long to have a whiter and brighter smile? Have you ever thought of doing teeth whitening?
      <br><br>
      We believe a smile is the universal act of kindness. With a genuine smile, it builds better relationship and
      spread positivity to people around us.
      <br><br>
      A smile is usually the first thing people notice when they meet you. Therefore, you need to give that good
      impression!
      <br><br>
      In our clinic, we offer in-office whitening based on your individual requirement. The treatment will be performed
      by our trained professionals. It is fast, convenient, safe, effective and affordable.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">HOW IS THE TEETH WHITENING PROCESS LIKE?</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center" class="ion-text-justify">
      We will examine your teeth and make sure that you are a suitable candidate to do whitening.
      <br><br>
      We will apply a protective gel to your gums as to keep the whitening material only on the teeth. Then, the
      whitening gel is applied to the teeth.
      <br><br>
      A blue plasma light will then be attached to the retractors previously placed in your mouth. This is to speed up
      the whitening process.
      <br><br>
      Our Teeth Whitening brand consists of 3-4 cycles. The duration is 12-15 minutes for each whitening cycle.
      <br><br>
      The attending dentist will pause after each cycle to remove the saliva pool. Then, the whitening gel will be
      replaced and the plasma light is shined until the cycle ends.
      <br><br>
      You may feel on-off mild to moderate sensitivity during and after the treatment.
      <br><br>
      In just slightly more than an hour, you will get a brand new brighter and sparkling smile. This will surely lift
      up your confidence!
    </ion-card-content>
  </ion-card>
</ion-content>