ion-content{
    p{
        font-family: cursive;
    }
}

ion-card-title{
    font-family: cursive;
}

h4{
    font-family: cursive;
}

ion-button{
    font-family: cursive;
  }
  ion-header{
    ion-title{
      font-family: cursive; 
    }
} 