<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">About Us</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <!-- <ion-card-header>
      <ion-card-title class="ion-text-center">Amira Dental Clinic </ion-card-title>
    </ion-card-header> -->

    <ion-card-content class="ion-text-center" class="ion-text-justify">
      <div class="ion-padding">
        <img src="assets/DentalLogo.jpeg">
      </div>

      <p> We also focus on providing the best service to our customers to achieve what they want, and we will run our
        services more productively and efficiently.
        <br><br>
        By helping and providing the best treatment services , we can continue to help and spread love to others.
        <br><br>
        We also make an effort to be gentleness and kind to our customers. When it comes to dentistry, many people
        associate fear and anxiety.
        We wish to provide a completely unique and positive experience. <br><br>
        Our goal is to not only cure your teeth, but also increase the number of smiles in your life.
        <br><br> It simply implies that we genuinely want to help you enhance your quality of life. <br><br>
        Correcting your teeth will boost not just your self-esteem but also your entire health.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Our Vision </ion-card-title>
      <h4 class="ion-text-center">A PERFECT SMILE</h4>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      <div class="ion-padding">
        <img src="assets/Picture1.jpg">
      </div>

      <p class="ion-text-justify">To help everyone achieve a beautiful, healthy smile by providing high-quality dental care.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Our Mission</ion-card-title>
      <h4 class="ion-text-center">CARE FOR YOU</h4>
    </ion-card-header>

    <ion-card-content class="ion-text-center" >
      <div class="ion-padding">
        <img src="assets/Picture2.jpg">
      </div>

      <p class="ion-text-justify"> We are really concerned about our patients' dental health and what we can do to help them maintain their teeth
        health for the rest of their lives.</p>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding">
    <p class="ion-text-center">
    <ion-button [routerLink]="['/home']" color="primary" expand="block">
      Back
    </ion-button>
  </div>
</ion-content>