<ion-header>
  <ion-toolbar>
    <ion-title>Crown</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-padding">
      <img src="assets/Photo1.jpg">
    </div>

    <ion-card-content class="ion-text-center" class="ion-text-justify">
      A crown or cap is a solution to improve the shape of your tooth.
      <br><br>
      It is used to protect the underlying tooth from further damage.
      <br><br>
      Example of the cases indicated for crowns are cracked tooth, badly broken tooth due to decay or trauma, restoring
      tooth after root canal treatment, as part of a bridge and cosmetic modification.
      <br><br>
      We have full metal, full porcelain and porcelain fused to metal crowns.
      <br><br>
      The procedure to place a crown on your tooth is straight forward and painless!
    </ion-card-content>
  </ion-card>
</ion-content>