<ion-header>
  <ion-toolbar>
    <ion-title>Denture</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-padding">
      <img src="assets/Photo5.jpg">
    </div>

    <ion-card-content class="ion-text-center" class="ion-text-justify">
      Dentures are artificial teeth that can be removed.
      We provide various types of dentures to suit your needs.
      <br><br>
      Based on your unique case, our dentist will consult as to which one suits you best.
      <br><br>
      The advantages and disadvantages for each option will be presented to you before final decision is made.
      <br><br>
      Removable denture is an affordable option. With it most people can replace missing teeth and improve their quality
      of life.
    </ion-card-content>
  </ion-card>
</ion-content>