<ion-header>
  <ion-toolbar>
    <ion-title>Braces</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-padding">
      <img src="assets/Photo3.jpg">
    </div>

    <ion-card-content class="ion-text-center" class="ion-text-justify">
      Do you want to have a perfectly straight teeth. Not everyone is born with an ideal teeth alignment. Crowded teeth may cause you to be self-consious and shy to smile.
      <br><br>
      In our Clinic, we can offer you orthodontic treatments to ensure you get your perfect, straight dream smile.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">We Provide </ion-card-title>
    </ion-card-header>

    <div class="ion-padding">
      <img src="assets/Photo9.jpg">
      <ion-card-subtitle class="ion-text-center">Conventional Braces</ion-card-subtitle>
    </div>

    <div class="ion-padding">
      <img src="assets/Photo10.jpg">
      <ion-card-subtitle class="ion-text-center">Damon Braces</ion-card-subtitle>
    </div>

    <div class="ion-padding">
      <img src="assets/Photo11.jpg">
      <ion-card-subtitle class="ion-text-center">Clear Aligner </ion-card-subtitle>
    </div>
  </ion-card>
</ion-content>
