<ion-header>
  <ion-toolbar>
    <ion-title>Teeth Extraction</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-padding">
      <img src="assets/Photo6.jpg">
    </div>

    <ion-card-content class="ion-text-center" class="ion-text-justify">
      Saving a tooth is always better in dental perspective. Our main job as dentist is to preserve the health of the
      tooth and the tissues surrounding it.
      <br><br>
      In some case however, the tooth cannot be saved anymore, so extraction is the only solution.
      <br><br>
      Extraction is also indicated in cases like symptomatic non-functional tooth.
      <br><br>
      The tooth may sometimes need to be removed surgically. For instance, removal of impacted wisdom tooth.
      <br><br>
      This process will be done as quick as possible.
    </ion-card-content>
  </ion-card>
</ion-content>