<ion-header>
  <ion-toolbar>
    <ion-title>Scaling&Polishing</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="ion-padding">
      <img src="assets/Photo7.jpg">
    </div>

    <ion-card-content class="ion-text-center" class="ion-text-justify">
      Scaling removes tartar and food stuck in teeth and gums.
      Polishing removes stubborn stains caused by smoking, tea & coffee and other habits. 
      <br><br>
      Our scaling & polishing provides you fresh breath and pristine clean teeth in a comfortable way.
      <br><br> 
      Treatment is customized to your needs, ie. warm water irrigation & numbing for patients with sensitive teeth, fluorite paste polishing for high caries
      risk and air polishing for heavy smokers.
    </ion-card-content>
  </ion-card>
</ion-content>