<ion-header>

</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-slides pager="true">
    <ion-slide class="ion-padding">
      <div class="container">
        <h1>Welcome To</h1> <br>
        <img src="assets/DentalLogo.jpeg" > <br>
        <span>"Make A Smile Your Signature Accessory"</span> <br>
        <span>Let's Explore Us More !</span>
        <br>
      </div>
    </ion-slide>

    <ion-slide class="ion-padding">
      <div class="container">
        <h3> Get Your Treatment With Us <br></h3>
        <img src="assets/Slider.jpeg">
        <p>Confident Smile Will Change Your Life Better </p>
      </div>
    </ion-slide>

    <ion-slide class="ion-padding">
      <div class="container">
        <h3 >Book Appointment Now !</h3>
        <img src="assets/Slider2.jpeg">
      </div>
      <br>
      <div class="button-container">
        <ion-button expand="block" [routerLink]= "['/signin']">Get Started</ion-button>
      </div>
      <br>
    </ion-slide>


  </ion-slides>


</ion-content>