<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Teams</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="ion-text-center">Meet Our Teams</h2>
  <ion-card>
    <div class="ion-padding">
      <ion-card-title class="ion-text-center">DR AMIRA</ion-card-title>
      <ion-card-subtitle class="ion-text-center">1st Dentist</ion-card-subtitle>
      <br>
      <img src="assets/Photo12.jpg">
    </div>

    <ion-card-content class="ion-text-center">
      NURUL AMIRA BINTI ADAM
    </ion-card-content>

    <ion-card-content class="ion-text-center">
      <p class="ion-text-center">Qualification</p>
      Master of Science in Dentistry,
      Universiti Teknologi MARA (UiTM)
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div class="ion-padding">
      <ion-card-title class="ion-text-center">DR FARRA</ion-card-title>
      <ion-card-subtitle class="ion-text-center">2nd Dentist</ion-card-subtitle>
      <br>
      <img src="assets/Photo13.jpg">
    </div>

    <ion-card-content class="ion-text-center">
      NUR FARRA BINTI SALLEH
    </ion-card-content>

    <ion-card-content class="ion-text-center">
      <p class="ion-text-center">Qualification</p>
      Master of Science in Dentistry,
      Universiti Teknologi MARA (UiTM)
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div class="ion-padding">
      <ion-card-title class="ion-text-center">NAJIHAH</ion-card-title>
      <ion-card-subtitle class="ion-text-center">Clinic Manager</ion-card-subtitle>
      <br>
      <img src="assets/Photo14.jpg">
    </div>

    <ion-card-content class="ion-text-center">
      NUR NAJIHAH BINTI ADNAN
    </ion-card-content>
  </ion-card>

  <ion-card >
    <div class="ion-padding">
      <ion-card-title class="ion-text-center">INTAN</ion-card-title>
      <ion-card-subtitle class="ion-text-center">Lead Dental Nurse</ion-card-subtitle>
      <br>
      <img src="assets/Photo15.jpg">
    </div>

    <ion-card-content class="ion-text-center">
      INTAN MAISARA BINTI DAUD
    </ion-card-content>
  </ion-card>

  <ion-card >
    <div class="ion-padding">
      <ion-card-title class="ion-text-center">ANISA</ion-card-title>
      <ion-card-subtitle class="ion-text-center">Newest Dental Nurse</ion-card-subtitle>
      <br>
      <img src="assets/Photo16.jpg">
    </div>

    <ion-card-content class="ion-text-center">
      NUR ANISA BINTI RAHMAN
    </ion-card-content>
  </ion-card>

  <div class="ion-padding">
    <p class="ion-text-center">
    <ion-button [routerLink]="['/home']" color="primary" expand="block">
      Back
    </ion-button>
  </div>

</ion-content>