ion-content{
    ion-button{
    font-family: cursive;
}
}

ion-header{
    ion-title{
      font-family: cursive; 
    }
}

h1{
  font-family: cursive;
  color: rgb(4, 101, 180); 
}

p{
  font-family: cursive;
 
}
