<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Book Now</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <div class="banner">
      <p class="ion-text-center">
        <img src="assets/DentalLogo.jpeg" width="70%">
      </p>
    </div>

    <div class="form">
      <ion-item lines="none">
        <ion-input type="text" placeholder="Name" [(ngModel)]="book.name" required></ion-input>
      </ion-item>


      <ion-item lines="none">
        <ion-input type="email" placeholder="your@gmail.com" [(ngModel)]="book.email" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input type="phone" placeholder="0123456789" [(ngModel)]="book.phone" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Treatment Type</ion-label>
        <ion-select value="General" [(ngModel)]="book.treatment" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="Crown">Crown</ion-select-option>
          <ion-select-option value="Teeth Whitening">Teeth Whitening</ion-select-option>
          <ion-select-option value="Braces">Braces</ion-select-option>
          <ion-select-option value="Denture">Denture</ion-select-option>
          <ion-select-option value="Teeth Extraction">Teeth Extraction</ion-select-option>
          <ion-select-option value="Scaling& Polishing">Scaling & Polishing</ion-select-option>
          <ion-select-option value="Fillings">Fillings</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-input type="date" placeholder="Choose Date" [(ngModel)]="book.date" required></ion-input>
      </ion-item>

      <!-- <ion-item lines="none">
        <ion-datetime presentation="time" placeholder="Choose Time" [(ngModel)]="book.time" required></ion-datetime>
      </ion-item> -->

      <ion-item lines="none">
        <ion-input type="time" placeholder="Choose Time" [(ngModel)]="book.time" required></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" (click)="createBook(book)">
        <ion-icon slot="start" name="send"></ion-icon>
        Book Now
      </ion-button>
    </div>
  </div>
</ion-content>